{% extends "base.html" %}
{% block content %}

<h1><span class="uppercase">{{ mode }}</span> Mode Details</h1>

<p>This page contains the results for {{ mode }} mode under different test cases.</p>
<p>Results on the index page are computed as a mean over all of these test cases.</p>
<p>By observing this information we can determine how the server handles each test case, when it's operating in the {{ mode }} mode.</p>
{% for case in tables_data %}
<h2>Case {{case}}</h2>

<div id="{{case}}-table"></div>

{% endfor %}

<h2>Generated Graphs</h2>
{% for graph in graphs_data %}
<h3>{{ graph.main_y_label }}</h3>
<svg id="graph-{{ loop.index0 }}" width="1280" height="400"></svg>
<br>
{% endfor %}

<!-- Render tables / figures here (use functions from main.js) -->
<script>

    {% for case in tables_data %}
    {
        const td = {{ tables_data[case] | tojson }};
        render_table(td, "#{{ case }}-table", 2)
    }
    {% endfor %}


    {% for graph in graphs_data %}
    {
        const graph_data = {{ graph | tojson }};
        const x_labels = graph_data.x_labels;
        const curves = graph_data.curves;
        const curve_labels = graph_data.curve_labels;
        const main_x_label = graph_data.main_x_label;
        const main_y_label = graph_data.main_y_label;

        render_curves_graph("#graph-{{ loop.index0 }}", curves, x_labels, curve_labels, main_x_label, main_y_label);
    }
    {% endfor %}


</script>

{% endblock %}
